<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>logo</string>
		<string>泸沽湖的云</string>
		<string>这是我见过的&amp;拍过的最漂亮的云！！！</string>
		<string>2021-02-03 03:23:59</string>
		<string>影迷先锋</string>
		<array>
			<string>https://img2.doubanio.com/view/group_topic/l/public/p400454752.webp</string>
			<string>https://img1.doubanio.com/view/group_topic/l/public/p400454728.webp</string>
			<string>https://img1.doubanio.com/view/group_topic/l/public/p400454749.webp</string>
		</array>
	</array>
	<array>
		<string>https://img2.doubanio.com/icon/u1133829-2.jpg</string>
		<string>小黑近照</string>
		<string>小黑已经消失半个多月了，好不容易，今天看到了它。拍张近距离照片，纪念一下久别重逢。</string>
		<string>2021-02-02 17:32:24</string>
		<string>liushu</string>
		<array>
			<string>https://img1.doubanio.com/view/group_topic/l/public/p399698089.webp</string>
			<string>https://img1.doubanio.com/view/group_topic/l/public/p399699318.webp</string>
		</array>
	</array>
	<array>
		<string>https://img1.doubanio.com/icon/u51252826-17.jpg</string>
		<string>home sweet home💕</string>
		<string>帝都的小开间，面积不大但是一个人足够。
有自己的房间就有归属感，我很满意啦！
和大家分享夏天窗外的夕阳🌇</string>
		<string>2021-02-02 11:54:44</string>
		<string>羊1桶</string>
		<array>
			<string>https://img3.doubanio.com/view/group_topic/l/public/p400292050.webp</string>
			<string>https://img3.doubanio.com/view/group_topic/l/public/p400292070.webp</string>
			<string>https://img1.doubanio.com/view/group_topic/l/public/p400292057.webp</string>
		</array>
	</array>
	<array>
		<string>https://img1.doubanio.com/icon/u50285297-8.jpg</string>
		<string>move out and in</string>
		<string>退房了，以后再也不用搬家了，小开心一下下🥳</string>
		<string>2021-02-01 23:08:06</string>
		<string>Elsa</string>
		<array>
			<string>https://img9.doubanio.com/view/group_topic/l/public/p400218964.webp</string>
			<string>https://img1.doubanio.com/view/group_topic/l/public/p400218977.webp</string>
			<string>https://img2.doubanio.com/view/group_topic/l/public/p400219032.webp</string>
		</array>
	</array>
	<array>
		<string>https://img9.doubanio.com/icon/u204817065-4.jpg</string>
		<string>悉尼Diamond Bay</string>
		<string>有幸在19年去过一次，并将它记录了下来
可惜的是现在这里被封掉了，原因好像是悬崖峭壁没有什么保护措施太危险了………
但实景真的是太美了</string>
		<string>2021-02-01 00:21:24</string>
		<string>Jerry M</string>
		<array>
			<string>https://img2.doubanio.com/view/group_topic/l/public/p396860822.webp</string>
			<string>https://img9.doubanio.com/view/group_topic/l/public/p396860804.webp</string>
		</array>
	</array>
	<array>
		<string>https://img2.doubanio.com/icon/u152254502-3.jpg</string>
		<string>今日份IPA收获</string>
		<string>得知住的附近有个Total Wine 今天去逛了一趟，在搭配区凑了两提没喝过的IPA来尝鲜，买到了种草好久的Dr. Lupulin三倍IPA，今晚就喝它了！
再补几张其他区域的图，这里简直是酒鬼的天堂</string>
		<string>2021-01-31 08:55:35</string>
		<string>kkml </string>
		<array>
			<string>https://img2.doubanio.com/view/group_topic/l/public/p399814302.webp</string>
			<string>https://img3.doubanio.com/view/group_topic/l/public/p399814280.webp</string>
			<string>https://img1.doubanio.com/view/group_topic/l/public/p399814298.webp</string>
		</array>
	</array>
	<array>
		<string>https://img9.doubanio.com/icon/u194631893-5.jpg</string>
		<string>luckin厚乳拿铁 yyds</string>
		<string>喝了他们家几款 发现这个确实好喝
快去给我喝！
可惜秋香厚乳下市了 那个也是我的爱
意外用了优惠券 今天堂食买才8块！不香吗</string>
		<string>2021-01-30 13:54:24</string>
		<string>芋泥不加冰🧊 </string>
		<array>
			<string>https://img1.doubanio.com/view/group_topic/l/public/p397299327.webp</string>
		</array>
	</array>
</array>
</plist>
